<section>
    <div class="login-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-wrap">
                        <div class="login-left">
                            <img src="assets/images/logo.png" alt="">
                            <h3>Teacher Login</h3>
                            <p>
                                It`s a mobile app landing page designed with material design in core.
                            </p>
                            <div class="login-img">
                                <img src="assets/images/login-img.png" alt="">
                            </div>
                            <div class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="login-right">
                            <!-- <a href="#"><i class="fa fa-arrow-left"></i> Back</a> -->
                            <div class="login-sight-btn">
                                <ul>
                                    <li class="active">
                                        <a [routerLink]="['/teacher']" class="btn">
                                            login
                                        </a>
                                    </li>
                                    <li>
                                        <a  [routerLink]="['/teacher/signup-step1']" class="btn">
                                            signup
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <form [formGroup]="teacherlogfrom" (ngSubmit)="teacherlogin()" >
                                <div class="form-group">
                                  <label>User Name<span>*</span></label>
                                  <input type="email" formControlName="email" ngModel [email]="true" class="form-control" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                  <label>Password<span>*</span></label>
                                  <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                </div>
                                <a routerLink="/teacher/forgot-password" class="forgot-link">Forgot Password?</a>
                                <button type="submit" class="btn btn-main" [disabled]="!teacherlogfrom.valid" >Login</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
