
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a  [routerLink]="['/adminLogin']" >Administrator</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
      
            <form [formGroup]="adminforgotform" (ngSubmit)="adminforgot()" >
              <div class="input-group mb-3">
                <input type="email" formControlName="email" ngModel [email]="true"  class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block"  [disabled]="!adminforgotform.valid">Request new password</button>
                </div>
               
              </div>
            </form>
      
            <p class="mt-3 mb-1">
              <a [routerLink]="['/adminLogin']">Login</a>
            </p>
            <p class="mb-0">
              
            </p>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
</div>
        