<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a [routerLink]="['/']">LMS</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <!-- <b>Version</b> 3.0.5 -->
    </div>
  </footer>