<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a  [routerLink]="['/adminLogin']" >Administrator</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
      
            <form  [formGroup]="adminresetfrom" (ngSubmit)="adminresetpassword()" >
              <div class="input-group mb-3">
                <input type="hidden" formControlName="token" class="form-control" [(ngModel)]="Token" placeholder="Password"> 
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!adminresetfrom.valid" >Change password</button>
                </div>
                
              </div>
            </form>
      
            <p class="mt-3 mb-1">
                <a [routerLink]="['/adminLogin']">Login</a>
            </p>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
      <!-- /.login-box -->
</div>