<footer>
  <div class="footer-part">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
                  <div class="contact-info">
                      <h5 class="main-heading">
                          Contact Info
                      </h5>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                      <div class="contact-mail">
                          <ul>
                              <li>
                                  <img src="assets/images/call-icon-color.png" alt="">
                                  <a href="mailto:info@learningmanagementsystem.com">
                                      info@learningmanagementsystem.com
                                  </a>
                              </li>
                              <li>
                                  <img src="assets/images/envelope-icon-color.png" alt="">
                                  <a href="tel:012-345-7890">
                                      012-345-7890
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                      <div class="footer-link">
                          <ul>
                              <li>
                                  <a href="#">
                                      Terms and Conditions 
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Privacy Policy
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class="app-store">
                          <ul>
                              <li>
                                  <a href="#" target="_blank">
                                      <img src="assets/images/apple-store.png" alt="">
                                  </a>
                              </li>
                              <li>
                                  <a href="#" target="_blank">
                                      <img src="assets/images/play-store.png" alt="">
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="contact-footer-form">
                      <h5 class="main-heading">
                          Contact Us
                      </h5>
                      <form action="">
                          <div class="form-group">
                              <label>Your e-mail</label>
                              <input type="email" class="form-control">
                          </div>
                          <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                              <label>Name</label>
                              <textarea name="" id="" rows="4" class="form-control"></textarea>
                          </div>
                          <button type="submit" class="btn btn-main mt-4">Send</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="social-media">
      <ul>
          <li>
              <a href="#" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li>
              <a href="#" target="_blank">
                  <i class="fa fa-facebook"></i>
              </a>
          </li>
          <li>
              <a href="#" target="_blank">
                  <i class="fa fa-linkedin"></i>
              </a>
          </li>
      </ul>
      <p class="copy-right">
          Copyright © 2020 All Rights Reserved. Designed by <a href="https://www.vtdesignz.com/" target="_blank" rel="nofollow">vtdesignz.com</a>
      </p>
  </div>
</footer>
