<section>
    <div class="login-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-wrap">
                        <div class="login-left">
                            <img src="assets/images/logo.png" alt="">
                            <h3>Teacher Sign Up</h3>
                            <p>
                                It`s a mobile app landing page designed with material design in core.
                            </p>
                            <div class="login-img">
                                <img src="assets/images/login-img.png" alt="">
                            </div>
                            <div class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                        <div class="login-right">
                            <!-- <a href="#"><i class="fa fa-arrow-left"></i> Back</a> -->
                            <div class="login-sight-btn">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/teacher']" class="btn">
                                            login
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a [routerLink]="['/teacher/signup-step1']" class="btn">
                                            signup
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="signup-scroll">
                                <form  [formGroup]="teachersignupfrom" (ngSubmit)="teachersignup()" >
                                <div class="form-group">
                                    <label>Name<span>*</span></label>
                                    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name"   placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <label>Gender<span>*</span></label>
                                    <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" formControlName="gender" >
                                        <option>Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>E-mail<span>*</span></label>
                                    <input type="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  class="form-control" placeholder="E-mail">
                                </div>
                                <div class="form-group">
                                    <label>Phone Number<span>*</span></label>
                                    <input type="tel" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"  placeholder="Phone Number">
                                </div>
                                <div class="form-group">
                                    <label>Highest Qualification</label>
                                    <select class="form-control" formControlName="qualification" >
                                        <option >Select</option>
                                        <option value="B.A"> B.A </option>
                                        <option value="M.A"> M.A </option>
                                        <option value="B.E"> B.E </option>
                                        <option value="M.E"> M.E </option>
                                        <option value="B.Tech"> B.Tech </option>
                                        <option value="M.Tech"> M.Tech </option>
                                        <option value="B.Sc"> B.Sc </option>
                                        <option value="M.Sc"> M.Sc </option>
                                        <option value="BBA"> BBA </option>
                                        <option value="MBA"> MBA </option>
                                        <option value="BCA"> BCA </option>
                                        <option value="MCA"> MCA </option>
                                        <option value="P.hd"> P.hd </option>
                                        <option value="M.Phil"> M.Phil </option>
                                        <option value="B.Arch"> B.Arch </option>
                                        <option value="MBBS"> MBBS </option>
                                        <option value="MD"> MD </option>
                                        <option value="BDS"> BDS </option>
                                        <option value="MDS"> MDS </option>
                                        <option value="BPT"> BPT </option>
                                        <option value="B.Pharm"> B.Pharm </option>
                                        <option value="M.Pharm"> M.Pharm </option>
                                        <option value="B.Com"> B.Com </option>
                                        <option value="M.Com"> M.Com </option>
                                        <option value="C.A"> C.A </option>
                                        <option value="ICWA"> ICWA </option>
                                        <option value="B.Cs"> B.Cs </option>
                                        <option value="12th"> 12th </option>
                                        <option value="11th"> 11th </option>
                                        <option value="LLB"> LLB </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Specialization along with your college details:<span>*</span></label>
                                    <input type="text" formControlName="specialization" [ngClass]="{ 'is-invalid': submitted && f.specialization.errors }"  class="form-control" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Years of experience in teaching<span>*</span></label>
                                    <select class="form-control" formControlName="experience" [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" >
                                        <option value="">Select</option>
                                        <option value="Less than a year"> Less than a year </option>
                                        <option value="Less Two years"> Less Two years </option>
                                        <option value="Less Four years"> Less Four years </option>
                                        <option value="More than 5 years"> More than 5 years </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Password<span>*</span></label>
                                    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password<span>*</span></label>
                                    <input type="password" formControlName="passwordConfirm" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }"   class="form-control" placeholder="Confirm Password">
                                    
                                    <mat-error *ngIf="teachersignupfrom.hasError('notSame')" >
                                       <span style="color: red;">Passwords do not match</span>
                                    </mat-error>  
                                    
                                </div>

                                
                                
                                <button type="submit"  class="btn btn-main" [disabled]="!teachersignupfrom.valid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
