<header>
  <div class="top-part">
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
              <a class="navbar-brand" routerLink="/home">
                  <img src="assets/images/logo.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <!-- <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/about">About us</a>
                  </li> -->
                  <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                  </li> -->
                  <!-- <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="">Contact us</a>
                  </li> -->
              </ul>
              </div>
              <div class="login-button">
                  <a class="btn btn-light" [routerLink]="['/teacher']" >Teacher login / signup</a>
              </div>
          </div>
      </nav>
  </div>
</header>


