@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$white: #fff;
$black: #000;
$blue: #0253b3;
$gray: #404040;
$light-gray: #5f6061;
$offwhite: #e0e0e0;
$purple: #5630da;
$red: #ea2e2e;

body{
    width: 100%;
    height: 100%;
    background: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.top-part{
    position: relative;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    background: transparent;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: $white;
}
.navbar-light .navbar-nav .nav-link {
    color: $white;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: $black;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 12px;
    margin-right: 12px;
}
.user-drop{
    &>a{
        color: $white;
        span{
            margin-left: 5px;
        }
        &:hover{
            color: $white;
        }
    }
}
.dropdown-item.active, .dropdown-item:active {
    color: $blue;
    background-color: $white;
}
.login-button{
    margin-left: 15px;
}
.slick-slider {
    width: 100%;
    margin: auto;
    background: $white;
}
.slick-slide img {
    width: 100%;
}
.slick-slide {
    outline: none
}
.app-store{
    ul{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        li{
            margin-right: 15px;
            a{
                img{
                    width: 130px;
                }
            }
        }
    }
}
.banner-caption{
    position: absolute;
    left: 21%;
    top: 34%;
    z-index: 2;
    width: 514px;
    color: $white;
    .app-store{
        margin-top: 30px;
    }
    h1{
        font-size: 44px;
        font-weight: 300;
        line-height: 62px;
        strong{
            font-weight: 700;
            display: block;
        }
    }
    p{
        font-size: 16px;
        margin: 20px 0;
    }
}
.btn-light{
    background: $white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 36px;
    padding: 10px 20px;
    color: $blue;
    &:hover{
        color: $black;
    }
}
.main-heading{
    color: $gray;
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 34px;
}
.best-way{
    padding: 80px 0;
}
.best-way-text{
    color: $gray;
    padding: 30px 12%;
    .main-heading{
        margin-bottom: 34px;
    }
}
.best-way-box{
    margin-top: 40px;
    h3{
        font-size: 20px;
        color: $black;
        margin-bottom: 15px;
        img{
            margin-right: 5px;
        }
    }
    p{
        padding-left: 60px;
        color: $light-gray;
        margin-bottom: 0;
    }
}
.learning-system{
    padding-top: 80px;
    padding-bottom: 40px;
}
.learning-management-text{
    padding-right: 7%;
}
.content-learning-box{
    margin-top: 40px;
    padding-right: 40%;
    p{
        padding-left: 50px;
    }
    h5{
        font-size: 20px;
        margin-bottom: 20px;
        img{
            margin-right: 5px;
        }
    }
}
.learning-management-img{
    position: relative;
}
.iphone2{
    position: absolute;
    bottom: 0;
    right: 22px;
}
.how-it-work{
    padding: 40px 0;
    padding-bottom: 80px;
    border-bottom: 1px solid $offwhite;
}
.btn-main{
    border-radius: 30px;
    padding: 10px 28px;
    color: $white;
    font-size: 16px;
    background: #2871fa;
    background: -moz-linear-gradient(-45deg,  #2871fa 0%, #6717cd 100%);
    background: -webkit-linear-gradient(-45deg,  #2871fa 0%,#6717cd 100%);
    background: linear-gradient(135deg,  #2871fa 0%,#6717cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2871fa', endColorstr='#6717cd',GradientType=1 );
    text-transform: uppercase;
    &:hover{
        color: $white;
        background: #6717cd; 
        background: -moz-linear-gradient(-45deg,  #6717cd 0%, #2871fa 100%); 
        background: -webkit-linear-gradient(-45deg,  #6717cd 0%,#2871fa 100%);
        background: linear-gradient(135deg,  #6717cd 0%,#2871fa 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6717cd', endColorstr='#2871fa',GradientType=1 );
    }
}
.how-it-work-video{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 15px;
    .btn-main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.learning-benefit-list{
    padding-top: 20px;
    ul{
        li{
            font-weight: 700;
            color: $gray;
            position: relative;
            padding-left: 36px;
            margin-bottom: 20px;
            font-size: 16px;
            &:after{
                content: "";
                background-image: url('../src/assets/images/cong-icon.png');
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
.learning-benefit-text{
    padding-right: 18%;
    color: $gray;
}
.app-screenshot{
    padding: 80px 0;
}
.screenshot-text{
    text-align: center;
    color: $light-gray;
    padding: 0 22%;
    p{
        margin-top: 20px;
    }
}
.appscreenshot-slider{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
}
.screenshotcarousel{
    .slick-slide{
        padding: 0 2px;
    }
}
.newsletter{
    background: url('../src/assets/images/full-width-bg.jpg') no-repeat; 
    padding: 140px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    background-attachment: fixed;
    text-align: center;
    color: $white;
    
}
.news-letter-form{
    padding: 15px 10%;
    .main-heading{
        color: $white;
    }
    form{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-top: 82px;
        .envelope-icon{
            margin-top: 15px;
        }
        .form-group{
            width: 66%;
            margin: 0 30px;
            .form-control{
                background: transparent;
                border: none;
                border-bottom: 1px solid $white;
                border-radius: 0;
                color: $white;
                font-size: 18px;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .btn-light{
            padding: 15px 40px;
        }
        ::-webkit-input-placeholder { 
            color: $white;
          }
          ::-moz-placeholder { 
            color: $white;
          }
          :-ms-input-placeholder { 
            color: $white;
          }
          :-moz-placeholder {
            color: $white;
          }
    }
}
.footer-part{
    padding: 80px 0;
    border-bottom: 1px solid $offwhite;
}
.contact-info{
    color: $light-gray;
    padding-left: 15%;
    .app-store{
        margin-top: 40px;
    }
}
.contact-mail{
    ul{
        margin-bottom: 40px;
        margin-top: 30px;
        li{
            margin-top: 20px;
            a{
                color: $black;
                font-size: 16px;
            }
            img{
                margin-right: 15px;
            }
        }
    }
}
.contact-footer-form{
    label{
        color: $light-gray;
        font-size: 12px;
    }
    .form-control{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $light-gray;
        &:focus{
            box-shadow: none;
        }
    }
}
.footer-link{
    margin-top: 30px;
    ul{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        li{
            color: $black;
            font-size: 16px;
            font-weight: 700;
            margin-right: 20px;
            a{
                color: $black;
                font-size: 16px; 
            }
        }
    }
}
.social-media{
    padding: 10px 15px;
    text-align: center;
    ul{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        li{
            margin: 0 10px;
            a{
                color: $light-gray;
                font-size: 18px;
                display: block;
                padding: 4px 5px;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
}
.copy-right{
    font-size: 13px;
    margin: 20px 0;
    a{
        color: $gray;
    }
}
.login-part{
    background: #2b6df8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2b6df8 0%, #631dd0 100%); 
    background: -webkit-linear-gradient(-45deg,  #2b6df8 0%,#631dd0 100%); 
    background: linear-gradient(135deg,  #2b6df8 0%,#631dd0 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6df8', endColorstr='#631dd0',GradientType=1 ); 
}
.login-wrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 120px 0;
    margin-top: 140px;
    .login-left{
        background: #2b6df8; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #2b6df8 0%, #631dd0 100%); 
        background: -webkit-linear-gradient(-45deg,  #2b6df8 0%,#631dd0 100%); 
        background: linear-gradient(135deg,  #2b6df8 0%,#631dd0 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6df8', endColorstr='#631dd0',GradientType=1 ); 
        width: 40%;
        padding: 36px 36px;
        color: $white;
        position: relative;
        h3{
            font-size: 46px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 30px;
            padding-bottom: 10px;
            position: relative;
            &:after{
                content: "";
                width: 120px;
                height: 6px;
                background: $white;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .arrow{
            background: #5038dd;
            font-size: 37px;
            width: 76px;
            height: 76px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            top: 40%;
            right: -36px;
            padding-left: 30px;
            padding-top: 17px;
        }
    }
    .login-right{
        width: 60%;
        background: $white;
        padding: 36px 36px;
        padding-left: 70px;
        label{
            font-size: 18px;
            color: $black;
            font-weight: 500;
            span{
                color: $red;
            }
        }
        .form-group{
            margin-bottom: 44px;
        }
        .form-control{
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $offwhite;
            padding-left: 0;
            &:focus{
                box-shadow: none;
            }
        }
        .forgot-link{
            color: $light-gray;
            font-size: 14px;
            float: right;
            margin-top: -18px;
        }
    }
}
.login-sight-btn{
    ul{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        li{
            .btn{
                background: $white;
                border-radius: 30px;
                padding: 10px 28px;
                color: $blue;
                font-size: 16px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                text-transform: uppercase;
            }
            &.active{
                .btn{
                    background: #2871fa; /* Old browsers */
                    background: -moz-linear-gradient(-45deg,  #2871fa 0%, #6717cd 100%);
                    background: -webkit-linear-gradient(-45deg,  #2871fa 0%,#6717cd 100%);
                    background: linear-gradient(135deg,  #2871fa 0%,#6717cd 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2871fa', endColorstr='#6717cd',GradientType=1 );
                    color: $white;
                }
            }
            &:nth-child(1){
                .btn{
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                
            }
            &:nth-child(2){
                .btn{
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                
            }
        }
    }
}
.back-button{
    color: $gray;
    font-size: 16px;
    margin-bottom: 40px;
    display: inline-block;
    .fa{
        color: $blue;
    }
}
.sub-heading{
    font-size: 28px;
    color: $gray;
    margin-bottom: 15px;
}
.custom-radio{
    input[type=radio] {
        position: absolute;
        visibility: hidden;
        display: none;
    }
    label {
        color: $gray !important;
        display: inline-block;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 18px !important;
        border: 1px solid $light-gray;
        background: $white;
        border-radius: 30px;
        margin-right: 15px;
        margin-bottom: 24px;
        min-width: 160px;
        text-align: center;
    }
    
    input[type=radio]:checked + label{
        color: $white !important;
        background: $blue;
        border: 1px solid $blue;
    }
    
    label + input[type=radio] + label {
        border: solid 1px $light-gray;
    }
}
.custom-attach{
    position: relative;
    border: 1px solid $light-gray;
    border-radius: 30px;
    padding: 10px 34px;
    display: inline-block;
    input[type="file"]{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 42px;
    }
    .upload-btn{
        color: $gray;
        font-size: 18px;
        font-weight: 500;
        .fa{
            color: $blue;;
        }
    }
}
.text-primary{
    color: $blue !important;
}
.dashboard-part{
    background: #2b6df8;
    background: -moz-linear-gradient(-45deg,  #2b6df8 0%, #631dd0 100%); 
    background: -webkit-linear-gradient(-45deg,  #2b6df8 0%,#631dd0 100%); 
    background: linear-gradient(135deg,  #2b6df8 0%,#631dd0 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6df8', endColorstr='#631dd0',GradientType=1 ); 
    padding: 120px 0;
}
.dashboard-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.user-details-wrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    background: #0253b3;
    padding: 10px;
    .profile-left{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 
        padding-top: 14px;
        .user-avatar{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;
            border: 5px solid #92b5de;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .user-details{
            h4{
                color: #fff;
                font-size: 22px;
            }
            p{
                margin: 4px 0;
                color: #fff;
                font-size: 16px;
            }
            a{
                color: #99c8ff;
            }
        }
    }
}
.user-related{
    background: $white;
    padding: 15px;
}
.rightbar{
    border: 1px solid #d3d3d3;
    padding: 15px;
    border-radius: 6px;
    .custom-attach{
        border: none;
        padding: 10px 10px;
        .upload-btn{
            font-size: 16px;
        }
    }
    label{
        font-size: 16px;
        color: $black;
        font-weight: 500;
        margin-bottom: 4px;
        span{
            color: $red;
        }
    }
    .form-group{
        margin-bottom: 20px;
    }
    .form-control{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $offwhite;
        padding-left: 0;
        &:focus{
            box-shadow: none;
        }
    }
}
.das-heading{
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 15px;
    margin-bottom: 18px;
    font-size: 24px; 
}
.sidebar{
    background: #0253b3;
    padding: 10px;
    border-radius: 6px;
    h6{
        text-align: center;
        border-bottom: 1px solid #81a9d9;
        padding: 10px 5px;
        color: $white;
        font-size: 20px;
    }
    ul{
        li{
            margin: 2px 0;
            a{
                color: $white;
                font-size: 16px;
                padding: 10px 10px;
                display: block;
                img{
                    margin-right: 5px;
                }
                &:hover{
                    text-decoration: none;
                    opacity: 0.75;
                }
            }
            &.active{
                a{
                    opacity: 0.75;
                }
            }
        }
    }
}
.edit-btn{
    text-align: right;
    color: $blue;
    display: inline-block;
    margin-bottom: 10px;
}
