@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    .banner-caption {
        left: 10%;
        top: 30%;
    }
    
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-caption {
        left: 4%;
        top: 14%;;
    }
    .news-letter-form form .form-group {
        width: 60%;
    }
    .login-img img{
        max-width: 100%;
    }
    .login-wrap .login-left h3 {
        font-size: 38px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand img{
        width: 120px;
    }
    .navbar-light .navbar-toggler {
        background: #fff;
        z-index: 3;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 5px;
        margin: 0 5px;
    }
    .banner-caption {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        color: #444;
        text-align: center;
        padding: 15px;
    }
    .banner-caption h1 {
        font-size: 24px;
        line-height: 34px;
    }
    .login-button {
        margin-left: 0;
        text-align: center;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .login-button .btn-light {
        font-size: 14px;
        padding: 8px 15px;
    }
    .navbar-nav {
        background: rgba(40,113,250,0.9);
        position: relative;
        z-index: 3;
        border-radius: 5px;
    }
    .iphone1 img{
      width: 100%;
    } 
    .iphone2 img{
        width: 100%;
    } 
    .how-it-work-video img{
        width: 100%;
    }
    .app-store ul {
        justify-content: center;
    }
    .best-way {
        padding: 30px 0;
    }
    .best-way-text {
        padding: 15px;
    }
    .best-way-box {
        border: 1px solid #e0e0e0;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
    }
    .learning-system {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .iphone2 {
        right: 0px;
        width: 68%;
    }
    .learning-management-text {
        padding-right: 0;
        padding-top: 30px;
    }
    .main-heading {
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 24px;
    }
    .content-learning-box {
        border: 1px solid #e0e0e0;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
    }
    .how-it-work {
        padding: 20px 0;
        padding-bottom: 20px;
    }
    .learning-benefit-text {
        padding-right: 0;
    }
    .app-screenshot {
        padding: 30px 0;
    }
    .screenshot-text {
        padding: 0 15px;
    }
    .screenshot-text {
        padding: 0 15px;
    }
    .newsletter {
        padding: 30px 0;
    }
    .news-letter-form {
        padding: 0;
    }
    .news-letter-form form {
        flex-direction: column;
        margin-top: 35px;
    }
    .news-letter-form form .form-group {
        width: 100%;
        margin: 10px 0;
        margin-bottom: 15px;
    }
    .news-letter-form form .btn-light {
        padding: 8px 30px;
    }
    .news-letter-form form .form-group .form-control {
        border: 1px solid #fff;
        border-radius: 30px;
        font-size: 16px;
        min-height: 42px;
    }
    .footer-part {
        padding: 30px 0;
    }
    .contact-info {
        padding-left: 0;
    }
    .footer-link ul {
        justify-content: center;
    }
    .contact-info .app-store {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .social-media ul {
        margin-top: 5px;
    }
    .contact-footer-form{
        background: #e0e0e0;
        padding: 15px;
        border-radius: 10px;
    }
    .copy-right {
        margin: 8px 0;
    } 


    .login-wrap {
        flex-direction: column;
    }
    .login-wrap .login-left {
        width: 100%;
        padding: 30px 30px;
    }
    .login-wrap .login-right {
        width: 100%;
        padding: 30px 30px;
        padding-left: 30px;
    }
    .login-wrap .login-left .arrow{
        display: none;
    }
    .login-img{
        text-align: center;
    }
    .login-img img{
        max-width: 100%;
    }
    .login-wrap .login-left h3 {
        font-size: 32px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .sub-heading {
        font-size: 20px;
    }
    .custom-radio label {
        padding: 10px 14px;
        font-size: 16px !important;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 124px;
    }

}
@media only screen and (max-width: 767px) {
    .navbar-brand img{
        width: 120px;
    }
    .navbar-light .navbar-toggler {
        background: #fff;
        z-index: 3;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 5px;
        margin: 0 5px;
    }
    .banner-caption {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        color: #444;
        text-align: center;
        padding: 15px;
    }
    .banner-caption h1 {
        font-size: 24px;
        line-height: 34px;
    }
    .login-button {
        margin-left: 0;
        text-align: center;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .login-button .btn-light {
        font-size: 14px;
        padding: 8px 15px;
    }
    .navbar-nav {
        background: rgba(40,113,250,0.9);
        position: relative;
        z-index: 3;
        border-radius: 5px;
    }
    .iphone1 img{
      width: 100%;
    } 
    .iphone2 img{
        width: 100%;
    } 
    .how-it-work-video img{
        width: 100%;
    }
    .app-store ul {
        justify-content: center;
    }
    .best-way {
        padding: 30px 0;
    }
    .best-way-text {
        padding: 15px;
    }
    .best-way-box {
        border: 1px solid #e0e0e0;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
    }
    .learning-system {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .iphone2 {
        right: 0px;
        width: 68%;
    }
    .learning-management-text {
        padding-right: 0;
        padding-top: 30px;
    }
    .main-heading {
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 24px;
    }
    .content-learning-box {
        border: 1px solid #e0e0e0;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
    }
    .how-it-work {
        padding: 20px 0;
        padding-bottom: 20px;
    }
    .learning-benefit-text {
        padding-right: 0;
    }
    .app-screenshot {
        padding: 30px 0;
    }
    .screenshot-text {
        padding: 0 15px;
    }
    .screenshot-text {
        padding: 0 15px;
    }
    .newsletter {
        padding: 30px 0;
    }
    .news-letter-form {
        padding: 0;
    }
    .news-letter-form form {
        flex-direction: column;
        margin-top: 35px;
    }
    .news-letter-form form .form-group {
        width: 100%;
        margin: 10px 0;
        margin-bottom: 15px;
    }
    .news-letter-form form .btn-light {
        padding: 8px 30px;
    }
    .news-letter-form form .form-group .form-control {
        border: 1px solid #fff;
        border-radius: 30px;
        font-size: 16px;
        min-height: 42px;
    }
    .footer-part {
        padding: 30px 0;
    }
    .contact-info {
        padding-left: 0;
    }
    .footer-link ul {
        justify-content: center;
    }
    .contact-info .app-store {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .social-media ul {
        margin-top: 5px;
    }
    .contact-footer-form{
        background: #e0e0e0;
        padding: 15px;
        border-radius: 10px;
    }
    .copy-right {
        margin: 8px 0;
    }


    .login-wrap {
        flex-direction: column;
    }
    .login-wrap .login-left {
        width: 100%;
        padding: 30px 30px;
    }
    .login-wrap .login-right {
        width: 100%;
        padding: 30px 30px;
        padding-left: 30px;
    }
    .login-wrap .login-left .arrow{
        display: none;
    }
    .login-img{
        text-align: center;
    }
    .login-img img{
        max-width: 100%;
    }
    .login-wrap .login-left h3 {
        font-size: 32px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .sub-heading {
        font-size: 20px;
    }
    .custom-radio label {
        padding: 10px 14px;
        font-size: 16px !important;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 124px;
    }

}
@media only screen and (max-width: 479px) {
    /* .top-part{
        background: #2b6df8; 
        background: -moz-linear-gradient(-45deg,  #2b6df8 0%, #631dd0 100%); 
        background: -webkit-linear-gradient(-45deg,  #2b6df8 0%,#631dd0 100%); 
        background: linear-gradient(135deg,  #2b6df8 0%,#631dd0 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6df8', endColorstr='#631dd0',GradientType=1 ); 
    } */
    .navbar-brand img{
        width: 120px;
    }
    .navbar-light .navbar-toggler {
        background: #fff;
        position: absolute;
        top: 17px;
        right: 15px;
        z-index: 3;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 5px;
        margin: 0 5px;
    }
    .banner-caption {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        color: #444;
        text-align: center;
        padding: 15px;
    }
    .banner-caption h1 {
        font-size: 24px;
        line-height: 34px;
    }
    .login-button {
        margin-left: 0;
        text-align: center;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .login-button .btn-light {
        font-size: 14px;
        padding: 8px 15px;
    }
    .navbar-nav {
        background: rgba(40,113,250,0.9);
        position: relative;
        z-index: 3;
        border-radius: 5px;
    }
    .iphone1 img{
      width: 100%;
    } 
    .iphone2 img{
        width: 100%;
    } 
    .how-it-work-video img{
        width: 100%;
    }
    .app-store ul {
        justify-content: center;
    }
    .best-way {
        padding: 30px 0;
    }
    .best-way-text {
        padding: 15px;
    }
    .best-way-box {
        border: 1px solid #e0e0e0;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
    }
    .learning-system {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .iphone2 {
        right: 0px;
        width: 68%;
    }
    .learning-management-text {
        padding-right: 0;
        padding-top: 30px;
    }
    .main-heading {
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 24px;
    }
    .content-learning-box {
        border: 1px solid #e0e0e0;
        padding: 15px;
        margin: 10px 0;
        border-radius: 10px;
    }
    .how-it-work {
        padding: 20px 0;
        padding-bottom: 20px;
    }
    .learning-benefit-text {
        padding-right: 0;
    }
    .app-screenshot {
        padding: 30px 0;
    }
    .screenshot-text {
        padding: 0 15px;
    }
    .screenshot-text {
        padding: 0 15px;
    }
    .newsletter {
        padding: 30px 0;
    }
    .news-letter-form {
        padding: 0;
    }
    .news-letter-form form {
        flex-direction: column;
        margin-top: 35px;
    }
    .news-letter-form form .form-group {
        width: 100%;
        margin: 10px 0;
        margin-bottom: 15px;
    }
    .news-letter-form form .btn-light {
        padding: 8px 30px;
    }
    .news-letter-form form .form-group .form-control {
        border: 1px solid #fff;
        border-radius: 30px;
        font-size: 16px;
        min-height: 42px;
    }
    .footer-part {
        padding: 30px 0;
    }
    .contact-info {
        padding-left: 0;
    }
    .footer-link ul {
        justify-content: center;
    }
    .contact-info .app-store {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .social-media ul {
        margin-top: 5px;
    }
    .contact-footer-form{
        background: #e0e0e0;
        padding: 15px;
        border-radius: 10px;
    }
    .copy-right {
        margin: 8px 0;
    }


    .login-wrap {
        flex-direction: column;
    }
    .login-wrap .login-left {
        width: 100%;
        padding: 30px 30px;
    }
    .login-wrap .login-right {
        width: 100%;
        padding: 30px 30px;
        padding-left: 30px;
    }
    .login-wrap .login-left .arrow{
        display: none;
    }
    .login-img{
        text-align: center;
    }
    .login-img img{
        max-width: 100%;
    }
    .login-wrap .login-left h3 {
        font-size: 32px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .sub-heading {
        font-size: 20px;
    }
    .custom-radio label {
        padding: 10px 14px;
        font-size: 16px !important;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 124px;
    }

}
